// pins.cst
IO_LOC  "clk" 52;
IO_PORT "clk" PULL_MODE=NONE IO_TYPE=LVCMOS33;

IO_LOC  "LCD_DIN" 63;
IO_PORT "LCD_DIN" PULL_MODE=DOWN IO_TYPE=LVCMOS33;

IO_LOC  "LCD_CLK" 56;
IO_PORT "LCD_CLK" PULL_MODE=UP IO_TYPE=LVCMOS33;

IO_LOC  "LCD_CS" 57;
IO_PORT "LCD_CS" PULL_MODE=UP IO_TYPE=LVCMOS33;

IO_LOC  "LCD_DC" 68;
IO_PORT "LCD_DC" PULL_MODE=DOWN IO_TYPE=LVCMOS33;

IO_LOC  "LCD_RST" 69;
IO_PORT "LCD_RST" PULL_MODE=UP IO_TYPE=LVCMOS33;

// buttons
IO_LOC  "BUT_D1" 71;
IO_PORT "BUT_D1" PULL_MODE=NONE IO_TYPE=LVCMOS33;

IO_LOC  "BUT_U1" 72;
IO_PORT "BUT_U1" PULL_MODE=NONE IO_TYPE=LVCMOS33;

IO_LOC  "BUT_D2" 73;
IO_PORT "BUT_D2" PULL_MODE=NONE IO_TYPE=LVCMOS33;

IO_LOC  "BUT_U2" 74;
IO_PORT "BUT_U2" PULL_MODE=NONE IO_TYPE=LVCMOS33;

